body {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Profile Container */
#profileContainer {
    text-align: center;
    background-color: var(--owner-bg-color);
    color: var(--text-color);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(117, 117, 117, 0.274);
    margin: 20px auto;
    max-width: 90%;
}
.features{
    display: flex;gap: 10px;
}
#profileImage {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid var(--text-color);
}

#createPostButton {
    margin-top: 20px;
}

/* Popup container */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
#createPostForm{
    margin: auto;
}
/* Popup content */
.popup-content {
    background-color: var( --popup-bg-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* text-align: left; */
    margin:40px auto;
}
.form-group{
    margin: 10px 0;
}
.form-group textarea{
 height: 20vh;
 resize: none;
 margin-bottom: 20px;
 font-size: 20px;
 font-weight: 400;
 background-color: var(--bg-color);
 color: var(--text-color);
 border: 1px solid var(--text-color-p);
}
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
    background: none;
    color: var(--text-color);
}
.popup-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    border: 1px solid var(--text-color-p);
}
.form-group-1{
    width: 100%;
}#imagePreview{
    width: 100%;
    height:42vh;
    border-radius: 10px;
}
.ulpload-btn{
    text-align: center; 
}
.submit-post{
    background-color: var(--create-btn-bg-color);
    color: var(--txts-btn-color);
    border-radius: 50px;
    border: 1px solid;
    padding:10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 550;
    font-size: 15px;

}
#selectZipFileBtn {
    background-color:transparent;
    color: var(--text-color);
    border: 1px solid rgba(117, 117, 117, 0.274); 
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
}

#selectZipFileBtn:hover {
    background-color: #2b2b2b1d;
    color: rgb(58, 58, 184);
    text-decoration: underline;
}

.ulpload-btn label{
    text-align: center;
    background: var(--create-btn-bg-color);
    border: 2px solid rgba(59, 59, 59, 0.6);
    color: var(--btn-bg-color);
    width: 100%;
    padding: 10px 14px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
}.ulpload-btn label:hover{
    color: blue;
    text-decoration: underline;
}
.prof-mid{
   border: 1px solid black;
   border-radius: 10px;
}
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}
.popup-content h2{
    font-size: 1.20rem;
    font-weight: 450;
}
/* Post Cards */
.back{
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: var(--create-btn-bg-color);
}
.post {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: var(--scroll-item-bg-color);
}

.post img {
    width: 100%;
    height: 23vh;
    margin-bottom: 10px;
    border-radius: 5px;
}
.post p{
    color: var(--text-color-p);
    font-weight: 450;
    font-size: 15px;
}

/* My Projects Section */
#myPostsSection {
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: left;
}

/* Button Styles */
#deleteProfileButton, #createPostButton,#editProfileBtn{
    background-color:transparent;
    color: var(--text-color);
    border: none;
    padding: 7px 20px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 550;
    border: 1px solid rgba(117, 117, 117, 0.274);
}
#followButton{
    background-color: var(--create-btn-bg-color);
    color: var(--txts-btn-color);
    border-radius: 50px;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 550;
}
.code-pev{
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 550;
    border: 1px solid var(--create-btn-bg-color);
}
.delete{
    background-color: rgba(199, 7, 7, 0.927);
    color: white;
    border-radius: 50px;
    font-size: 14px;
    border: none;
    padding: 5px 10px;
}
#followButton:hover{
    box-shadow: 0 5px 15px rgba(128, 127, 127, 0.211);
}
#deleteProfileButton:hover, #createPostButton:hover{
    background-color: #29292a0e;
}
#followerCount {
    font-weight: 500;
}
#username{
    color: var(--text-color-p);
    font-weight: 450;
}
.prof-page-f{
    display: flex;
    justify-content: space-between;
}
.prof-self{
    display: flex;
    align-items: start;
    text-align: left;
    gap: 12px;
}
.prof-self h2{
    font-weight: 700;
    letter-spacing: -1px;
}
.prof-ajust{
    line-height: 10px;
}
#bio{
    font-size: 16px;
    font-weight: 420;
    color: var(--text-color-p);
    text-align: left;
}
hr{
    border: 1px solid var(--text-color-p);
}
#addlink{
    font-size: small;
    font-weight: 450;
}
#addlink i{
    color: var(--text-color);
}
.ri-link{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
}

/* followes display*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: var(--popup-bg-color);
    margin: 15% auto;
    padding: 30px 20px;
    border-radius: 10px;
    width: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.not-yet{
    margin: 50px auto;
}
.btn-followers{
    background-color:transparent;
    color: var(--text-color);
    border: 1px solid rgba(117, 117, 117, 0.274);
    border-radius: 50px;
    padding: 10px 13px;
    font-weight: 600;
    
}
.follower-item{
    display: flex;
    align-items: center;
    padding-top: 25px;
    justify-content: space-between;
}.follower-item button{
    background-color: var(--create-btn-bg-color);
    color: var(--txts-btn-color);
    border-radius: 50px;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
}
.follower-item-1{
    display: flex;
    align-items: center;
    gap: 10px;

}.follower-item-1-dm{
    line-height: 3px;
    text-align: left;
}.follower-item-1-dm small{
    color: var(--text-color-p);
}
.close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
}

.close:hover, .close:focus {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}
.follower-img {
    width: 43px;
    height: 43px;
    border-radius: 10%;
    border: 2px solid var(--text-color);
}
/* edit css start here */
#editProfileForm{
    display: flex;
    margin: auto;
    gap: 30px;
}
#editProfileForm input,#editProfileForm textarea {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    font-size: 16px;
    resize: none;
    background-color: var(--bg-color);
    color: var(--text-color);
}
#editProfileForm button{
    background-color: var(--create-btn-bg-color);
    color: var(--txts-btn-color);
    border-radius: 50px;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
}

#editProfileForm label{
    padding: 10px;
    text-align:center;
    cursor: pointer;
    color: var(--text-color-p);
}#editProfileForm label:hover{
    color: rgb(69, 69, 172);
}#modal-content-edit h2{
    font-size: 1.40rem;
}

/* modal suc css */
    



#modal-content-suc h3{
    font-size: 1.50rem;
    font-weight: 450;
    padding-bottom: 10px;
    color: var(--text-color);
}
#modal-content-suc p{
    font-size: 1.00rem;
    color: var(--text-color-p);
}
#modal-content-suc button{
    background-color: var(--create-btn-bg-color);
    color: var(--txts-btn-color);
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 550;
    float: right;
}
#modal-content-suc img{
    width: 100%;
}

/* delete */
.delete-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.delete-btn:hover {
    background-color: darkred;
}

/* .cancel-btn {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: darkgray;
} */
@media (max-width: 391px){
    .popup-content {
        background-color: var( --popup-bg-color);
        color: var(--text-color);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 95%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* text-align: left; */
        margin:40px auto;
    }#imagePreview{
        width: 100%;
        height:30vh;
        border-radius: 10px;
    }
    .popup-bottom{
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .ulpload-btn{
        text-align: center; 
    }
    .submit-post{
        background-color: var(--create-btn-bg-color);
        color: var(--txts-btn-color);
        border-radius: 50px;
        border: 1px solid;
        padding:10px 30px;
        border-radius: 50px;
        cursor: pointer;
        font-weight: 550;
        font-size: 15px;
    }
    /*  */
    .modal-content {
        background-color: var(--bg-color);
        margin: 15% auto;
        padding: 20px;
        border-radius: 10px;
        width: 95%;
        box-shadow: rgba(78, 78, 78, 0.1) 0px 2px 10px;
    }
    /* Profile Container */
#profileContainer {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow:none;
    margin: 20px auto;
    max-width: 100%;
    background: none;
}
.prof-page-f{
    display: block;
    text-align: left;
}
#bio{
    padding-top: 5px;
    font-size: 17px;
}.pt{
    padding-top: 10px;
}
.post{
    width: 100%;
}.post p{
    font-size: 17px;
}

.container{
    padding: 0px;
}
.prof-ajust{
    line-height: 5px;
}.prof-ajust h2{
    font-size: 25px;
}
.prof-details{
    line-height: 15px;
}
#profileImage {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

#createPostButton {
    margin-top: 20px;
}

}

@media (max-width: 755px){
    .popup-content {
        background-color: var( --popup-bg-color);
        color: var(--text-color);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 60%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* text-align: left; */
        margin:40px auto;
    }#imagePreview{
        width: 100%;
        height:30vh;
        border-radius: 10px;
    }
    /*  */
    .modal-content {
        background-color: var(--bg-color);
        margin: 15% auto;
        padding: 20px;
        border-radius: 10px;
        width: 60%;
        box-shadow: rgba(78, 78, 78, 0.1) 0px 2px 10px;
    }
        /* Profile Container */
#profileContainer {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow:none;
    margin: 20px auto;
    max-width: 100%;
    background: none;
    border: none;
}
.prof-page-f{
    display: block;
    text-align: left;
}
#bio{
    padding-top: 5px;
    font-size: 17px;
}.pt{
    padding-top: 10px;
}
.post{
    width: 100%;
}.post p{
    font-size: 17px;
}

.container{
    padding: 0px;
}
.prof-ajust{
    line-height: 5px;
}.prof-ajust h2{
    font-size: 25px;
}
.prof-details{
    line-height: 15px;
}
#profileImage {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

#createPostButton {
    margin-top: 20px;
}
#bio{
    font-size: 15px;
    font-weight: 420;
    color: var(--text-color-p);
    text-align: left;
}
}
@media (max-width: 376px){
    .popup-content {
        background-color: var( --popup-bg-color);
        color: var(--text-color);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 95%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* text-align: left; */
        margin:40px auto;
    }#imagePreview{
        width: 100%;
        height:28vh;
        border-radius: 10px;
    }
    /*  */
    .features{
        display: flex;gap: 5px;
        font-weight: 400;font-size: 15px;
    }#followerCount {
        font-weight: 400;font-size: 15px;
    }
    
}
@media (max-width: 416px){
    .features{
        font-size: 14px;
    }
}
@media (max-width: 521px){
    .popup-content {
        background-color: var( --popup-bg-color);
        color: var(--text-color);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 90%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* text-align: left; */
        margin:40px auto;
    }#imagePreview{
        width: 100%;
        height:28vh;
        border-radius: 10px;
    }
    .modal-content {
        background-color: var(--bg-color);
        margin: 15% auto;
        padding: 20px;
        border-radius: 10px;
        width: 90%;
        box-shadow: rgba(78, 78, 78, 0.1) 0px 2px 10px;
    }
}
@media (max-width: 415px){
    .popup-content {
        background-color: var( --popup-bg-color);
        color: var(--text-color);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 95%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* text-align: left; */
        margin:40px auto;
    }#imagePreview{
        width: 100%;
        height:25vh;
        border-radius: 10px;
    }
    .submit-post{
        background-color: var(--create-btn-bg-color);
        color: var(--txts-btn-color);
        border-radius: 50px;
        border: 1px solid;
        padding:10px 30px;
        border-radius: 50px;
        cursor: pointer;
        font-weight: 550;
        font-size: 15px;
        width: 100%;
    }
    .popup-content {
        margin:80px auto;
    }
}
@media (max-width: 395px){
    .features{
        font-size: 13px;
    }
}
@media (max-width: 1077px){
    #editProfileForm{
        display: block;
        margin: auto;
        gap: 30px;
        width: 100%;
    }
    #editProfileForm input,#editProfileForm textarea {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid var(--text-color);
        font-size: 16px;
        resize: none;
    }
}
@media (max-width: 843px){
    #editProfileForm{
        display: block;
        margin: auto;
        width: 100%;
    }
    #editProfileForm input,#editProfileForm textarea {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid var(--text-color);
        font-size: 16px;
        resize: none;
    }
    #modal-content-edit {
        background-color: var(--bg-color);
        text-align: var(--text-color);
        margin: 10% auto;
        padding: 20px;
        width: 95%;
    }
}
@media (max-width:416px){
    .modal-content {
        background-color: var( --popup-bg-color);
        color: var(--text-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 50% auto;
        padding: 25px;
        width: 97%;
        max-width: 500px;
        text-align: left;
        border-radius: 10px;
    }
    .modal-content h3{
        font-size: 1.20rem;
        font-weight: 550;
        padding-bottom: 5px;
        color: var(--text-color);
    }
    .modal-content p{
        font-size: 1.00rem;
        color: var(--text-color-p);
    }
}

